<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Schedule Form</ion-title>
</ion-navbar>

<ion-content class="schedule-form">
    <cw-schedule-form>
        <form [ngFormModel]="scheduleControlGroup" (ngSubmit)="onSubmit(scheduleControlGroup.value)">
            <schedule-row *ngFor="#weekday of daysOfTheWeek" [weekday]="weekday" [scheduleControlGroup]="scheduleControlGroup"></schedule-row>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </cw-schedule-form>
</ion-content>