<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Register</ion-title>
</ion-navbar>

<ion-content class="register">
    <form [ngFormModel]="registrationForm" (ngSubmit)="registerAndLogin(registrationForm.value)">
        <ion-list>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="text" value="" [ngFormControl]="emailControl"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input type="password" [ngFormControl]="passwordControl"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Password conformation</ion-label>
                <ion-input type="password" [ngFormControl]="passwordConfirmationControl"></ion-input>
            </ion-item>
        </ion-list>

        <div padding>
        <button block type="submit">Sign In</button>
        </div>
      </form>
    
    
</ion-content>