<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Getting Started</ion-title>
</ion-navbar>

<ion-content padding class="initial-test-form">
    <div class="container">
        <h1>Exercises in your initial test:</h1>

        <form [ngFormModel]="exerciseDetailGroup" (ngSubmit)="onSubmit(exerciseDetailGroup.value)">
            <div *ngFor="#workout of initialTestWorkouts">
                <div class="form-group" *ngFor="#exerciseDetail of workout.exercise_details; #i = index">
                    <span>Name: {{exerciseDetail.exercise.name}}</span><br />
                    <span>Proper form text: {{exerciseDetail.exercise.proper_form_text}}</span><br />
                    <span>Requires a gym? {{exerciseDetail.exercise.requires_gym ? "Yep!" : "Nope"}}</span><br />
                    <span>Youtube URL: <a href="{{exerciseDetail.exercise.youtube_url}}">{{exerciseDetail.exercise.youtube_url}}</a></span><br />
                    <br />
                    <exercise-detail-form [exerciseDetailGroup]="exerciseDetailGroup" [exerciseDetailId]="exerciseDetail.id"></exercise-detail-form>
                    <br />
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</ion-content>