<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Personal Detail Form</ion-title>
</ion-navbar>

<ion-content class="personal-detail-form">
    <h1>Enter Your Details</h1>
    <form #personalDetailForm="ngForm" (ngSubmit)="onSubmit(personalDetailForm.value)">
        <ion-list>
            <ion-item>
                <ion-label for="gender">Gender</ion-label>
                <ion-input type="text" class="form-control" ngControl="gender"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label for="weight">Weight</ion-label>
                <ion-input type="text" class="form-control" required ngControl="weight"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label for="neck">Neck</ion-label>
                <ion-input type="text" class="form-control" required ngControl="neck"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label for="shoulders">Shoulders</ion-label>
                <ion-input type="text" class="form-control" required ngControl="shoulders"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label for="chest">Chest</ion-label>
                <ion-input type="text" class="form-control" required ngControl="chest"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label for="bicep">Bicep</ion-label>
                <ion-input type="text" class="form-control" required ngControl="bicep"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label for="waist">Waist</ion-label>
                <ion-input type="text" class="form-control" required ngControl="waist"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label for="hips">Hips</ion-label>
                <ion-input type="text" class="form-control" required ngControl="hips"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label for="thigh">Thigh</ion-label>
                <ion-input type="text" class="form-control" required ngControl="thigh"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label for="resting_heart_rate">Resting Heart Rate</ion-label>
                <ion-input type="text" class="form-control" required ngControl="resting_heart_rate"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label for="calf">Calf</ion-label>
                <ion-input type="text" class="form-control" required ngControl="calf"></ion-input>
            </ion-item>
        </ion-list>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</ion-content>