<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Login</ion-title>
</ion-navbar>

<ion-content class="login">
    <form [ngFormModel]="authForm" (ngSubmit)="login(authForm.value)">
        <ion-list>

        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text" value="" [ngFormControl]="emailControl"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [ngFormControl]="passwordControl"></ion-input>
        </ion-item>

        </ion-list>

        <div padding>
        <button block type="submit">Sign In</button>
        </div>
      </form>
    
    
</ion-content>